In [1]:
## ignoring warning mesasges
import warnings

warnings.filterwarnings("ignore")

# SPARK101 EXERCISES

## 1. **Create a spark data frame that contains your favorite programming languages.**

In [2]:
import pyspark

In [3]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/26 09:12:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

* The name of the column should be language

In [5]:
# created a spark session
spark = pyspark.sql.SparkSession.builder.appName("ProgrammingLanguages").getOrCreate()

23/11/26 09:12:15 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [6]:
# Created a list of my favorite programming languages
fav_languages = ["Python", "C++", "Java", "C#", "R"]
fav_languages

['Python', 'C++', 'Java', 'C#', 'R']

In [7]:
# imported sparksession and row for creating asaprk df column
from pyspark.sql import SparkSession
from pyspark.sql import Row

prgm_lang_df = spark.createDataFrame([Row(Languages=lang) for lang in fav_languages])

In [8]:
prgm_lang_df.show()

+---------+
|Languages|
+---------+
|   Python|
|      C++|
|     Java|
|       C#|
|        R|
+---------+

* View the schema of the dataframe

In [9]:
# Viewing Schema
prgm_lang_df.printSchema()

root
 |-- Languages: string (nullable = true)

* Output the shape of the dataframe

In [10]:
# getting rows count and columns because there is shape attribute

# number of rows
num_rows = prgm_lang_df.count() 

# number of columns
columns = prgm_lang_df.columns
num_columns = len(columns)

In [11]:
# printing out shape

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 5
Number of Columns: 1

* Show the first 5 records in the dataframe

In [12]:
prgm_lang_df.show(5)

+---------+
|Languages|
+---------+
|   Python|
|      C++|
|     Java|
|       C#|
|        R|
+---------+

In [13]:
import pandas as pd
import numpy as np
import pyspark
from pyspark.sql import SparkSession
from pydataset import data
# from vega_datasets import data

# Note: The pyspark avg and mean functions are aliases of eachother
from pyspark.sql.functions import col, expr, concat, sum, avg, min, max, count, mean, lit, regexp_extract, regexp_replace, when, asc, desc, month, year, quarter

### Visualization (or Lack Therof)

Spark does not provide a way to do visualization with their dataframes. To
visualize data from spark, you should use the `.toPandas` method on a spark
dataframe to convert it to a pandas dataframe, then visualize as you normally
would.

!!!warning "Converting to A Pandas Dataframe"
    Converting a spark dataframe to a pandas dataframe will pull all the data into memory, so make sure you have enough available memory to do so.

## References

- [PySpark API Docs](https://spark.apache.org/docs/latest/api/python/index.html)
- [Spark SQL Programming Guide](https://spark.apache.org/docs/latest/sql-programming-guide.html) -- Note that the docs here show examples in many different programming languages, make sure you choose Python.
- [DataFrame class](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame)
- [Column class](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column)
- [pyspark.sql.functions module](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions)
- `df.na`: [DataFrameNaFunctions class](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameNaFunctions)

In [14]:
spark = SparkSession.builder.getOrCreate()

## demo code to populate mpg

In [15]:
# mpg = spark.createDataFrame(data("mpg"))

# mpg.write.json("data/mpg_json", mode="overwrite")

# # like much else in spark, there's multiple ways we could do this:
# (
#     mpg.write.format("csv")
#     .mode("overwrite")
#     .option("header", "true")
#     .save("data/mpg_csv")
# )

## 2. **Load the mpg dataset as a spark dataframe.**

$a.$ Create 1 column of output that contains a message like the one below:

 `The 1999 audi a4 has a 4 cylinder engine.`
 
For each vehicle.

In [16]:
# displaying top 20 of the vehicles
# concat can be used to create a message like inthe example.

# load mpg dataset
mpg = spark.createDataFrame(data("mpg"))

# show the data
mpg.show()

+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|             model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
|        audi|                a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|                a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|                a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|                a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|                a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
|        audi|                a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|
|        audi|                a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|
|        audi|        a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|
|        audi|        a4 quattro|  2.0|2008|  4|  auto(s6)|  4| 19| 27|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 25|  p|compact|
|        audi|        a4 quattro|  2.8|1999|  6|manual(m5)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|compact|
|        audi|        a4 quattro|  3.1|2008|  6|manual(m6)|  4| 15| 25|  p|compact|
|        audi|        a6 quattro|  2.8|1999|  6|  auto(l5)|  4| 15| 24|  p|midsize|
|        audi|        a6 quattro|  3.1|2008|  6|  auto(s6)|  4| 17| 25|  p|midsize|
|        audi|        a6 quattro|  4.2|2008|  8|  auto(s6)|  4| 16| 23|  p|midsize|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 14| 20|  r|    suv|
|   chevrolet|c1500 suburban 2wd|  5.3|2008|  8|  auto(l4)|  r| 11| 15|  e|    suv|
+------------+------------------+-----+----+---+----------+---+---+---+---+-------+
only showing top 20 rows

In [17]:
from pyspark.sql import functions as F

def create_message(year, make, model, cylinders):
    return f"The {year} {make} {model} has a {cylinders} cylinder engine."

create_message_udf = F.udf(create_message)

mpg_df = mpg.withColumn(
    "output_message",
    create_message_udf(
        F.col("year"), F.col("manufacturer"), F.col("model"), F.col("cyl")
    )
)

mpg_df.select("output_message").show(truncate=False)

+--------------------------------------------------------------+
|output_message                                                |
+--------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 2008 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 8 cylinder engine.             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
+--------------------------------------------------------------+
only showing top 20 rows

$b.$ Transform the trans column so that it only contains either manual or auto.

In [18]:
from pyspark.sql.functions import regexp_extract
from pyspark.sql.types import StringType

In [19]:
mpg.select(mpg.trans).show(5)

+----------+
|     trans|
+----------+
|  auto(l5)|
|manual(m5)|
|manual(m6)|
|  auto(av)|
|  auto(l5)|
+----------+
only showing top 5 rows

In [20]:
mpg_transformed = mpg.withColumn("trans", regexp_extract(mpg["trans"], r"(manual|auto)", 1).cast(StringType()))

mpg_transformed.select("trans").show(5)

+------+
| trans|
+------+
|  auto|
|manual|
|manual|
|  auto|
|  auto|
+------+
only showing top 5 rows

In [21]:
mpg.select(
    "trans",
    regexp_extract("trans", r"^(\w+)", 1).alias("trans_new"),
).show(truncate=False)

+----------+---------+
|trans     |trans_new|
+----------+---------+
|auto(l5)  |auto     |
|manual(m5)|manual   |
|manual(m6)|manual   |
|auto(av)  |auto     |
|auto(l5)  |auto     |
|manual(m5)|manual   |
|auto(av)  |auto     |
|manual(m5)|manual   |
|auto(l5)  |auto     |
|manual(m6)|manual   |
|auto(s6)  |auto     |
|auto(l5)  |auto     |
|manual(m5)|manual   |
|auto(s6)  |auto     |
|manual(m6)|manual   |
|auto(l5)  |auto     |
|auto(s6)  |auto     |
|auto(s6)  |auto     |
|auto(l4)  |auto     |
|auto(l4)  |auto     |
+----------+---------+
only showing top 20 rows

## 3. **Load the tips dataset as a spark dataframe.**

In [22]:
# utilized demo code to populate mpg
tips = spark.createDataFrame(data("tips"))

tips.write.json("data/tips_json", mode="overwrite")

# like much else in spark, there's multiple ways we could do this:
(
    mpg.write.format("csv")
    .mode("overwrite")
    .option("header", "true")
    .save("data/tips_csv")
)

$a.$ What percentage of observations are smokers?

In [23]:
# showing statistical info on tips df
tips.describe().show()

23/11/26 09:12:37 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+------+------+----+------+------------------+
|summary|        total_bill|               tip|   sex|smoker| day|  time|              size|
+-------+------------------+------------------+------+------+----+------+------------------+
|  count|               244|               244|   244|   244| 244|   244|               244|
|   mean|19.785942622950813|2.9982786885245907|  NULL|  NULL|NULL|  NULL| 2.569672131147541|
| stddev| 8.902411954856856| 1.383638189001182|  NULL|  NULL|NULL|  NULL|0.9510998047322344|
|    min|              3.07|               1.0|Female|    No| Fri|Dinner|                 1|
|    max|             50.81|              10.0|  Male|   Yes|Thur| Lunch|                 6|
+-------+------------------+------------------+------+------+----+------+------------------+

In [24]:
# printing entire tips df to sere the columns
tips.show(244)

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|
|     24.59|3.61|Female|    No| Sun|Dinner|   4|
|     25.29|4.71|  Male|    No| Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|
|     26.88|3.12|  Male|    No| Sun|Dinner|   4|
|     15.04|1.96|  Male|    No| Sun|Dinner|   2|
|     14.78|3.23|  Male|    No| Sun|Dinner|   2|
|     10.27|1.71|  Male|    No| Sun|Dinner|   2|
|     35.26| 5.0|Female|    No| Sun|Dinner|   4|
|     15.42|1.57|  Male|    No| Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No| Sun|Dinner|   4|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|
|     21.58|3.92|  Male|    No| Sun|Dinner|   2|
|     10.33|1.67|Female|    No| Sun|Dinner|   3|
|     16.29|3.71|  Male|    No| Sun|Dinner|   3|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|
|     20.65|3.35|  Male|    No| Sat|Dinner|   3|
|     17.92|4.08|  Male|    No| Sat|Dinner|   2|
|     20.29|2.75|Female|    No| Sat|Dinner|   2|
|     15.77|2.23|Female|    No| Sat|Dinner|   2|
|     39.42|7.58|  Male|    No| Sat|Dinner|   4|
|     19.82|3.18|  Male|    No| Sat|Dinner|   2|
|     17.81|2.34|  Male|    No| Sat|Dinner|   4|
|     13.37| 2.0|  Male|    No| Sat|Dinner|   2|
|     12.69| 2.0|  Male|    No| Sat|Dinner|   2|
|      21.7| 4.3|  Male|    No| Sat|Dinner|   2|
|     19.65| 3.0|Female|    No| Sat|Dinner|   2|
|      9.55|1.45|  Male|    No| Sat|Dinner|   2|
|     18.35| 2.5|  Male|    No| Sat|Dinner|   4|
|     15.06| 3.0|Female|    No| Sat|Dinner|   2|
|     20.69|2.45|Female|    No| Sat|Dinner|   4|
|     17.78|3.27|  Male|    No| Sat|Dinner|   2|
|     24.06| 3.6|  Male|    No| Sat|Dinner|   3|
|     16.31| 2.0|  Male|    No| Sat|Dinner|   3|
|     16.93|3.07|Female|    No| Sat|Dinner|   3|
|     18.69|2.31|  Male|    No| Sat|Dinner|   3|
|     31.27| 5.0|  Male|    No| Sat|Dinner|   3|
|     16.04|2.24|  Male|    No| Sat|Dinner|   3|
|     17.46|2.54|  Male|    No| Sun|Dinner|   2|
|     13.94|3.06|  Male|    No| Sun|Dinner|   2|
|      9.68|1.32|  Male|    No| Sun|Dinner|   2|
|      30.4| 5.6|  Male|    No| Sun|Dinner|   4|
|     18.29| 3.0|  Male|    No| Sun|Dinner|   2|
|     22.23| 5.0|  Male|    No| Sun|Dinner|   2|
|      32.4| 6.0|  Male|    No| Sun|Dinner|   4|
|     28.55|2.05|  Male|    No| Sun|Dinner|   3|
|     18.04| 3.0|  Male|    No| Sun|Dinner|   2|
|     12.54| 2.5|  Male|    No| Sun|Dinner|   2|
|     10.29| 2.6|Female|    No| Sun|Dinner|   2|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|
|      9.94|1.56|  Male|    No| Sun|Dinner|   2|
|     25.56|4.34|  Male|    No| Sun|Dinner|   4|
|     19.49|3.51|  Male|    No| Sun|Dinner|   2|
|     38.01| 3.0|  Male|   Yes| Sat|Dinner|   4|
|     26.41| 1.5|Female|    No| Sat|Dinner|   2|
|     11.24|1.76|  Male|   Yes| Sat|Dinner|   2|
|     48.27|6.73|  Male|    No| Sat|Dinner|   4|
|     20.29|3.21|  Male|   Yes| Sat|Dinner|   2|
|     13.81| 2.0|  Male|   Yes| Sat|Dinner|   2|
|     11.02|1.98|  Male|   Yes| Sat|Dinner|   2|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|
|     17.59|2.64|  Male|    No| Sat|Dinner|   3|
|     20.08|3.15|  Male|    No| Sat|Dinner|   3|
|     16.45|2.47|Female|    No| Sat|Dinner|   2|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|
|     20.23|2.01|  Male|    No| Sat|Dinner|   2|
|     15.01|2.09|  Male|   Yes| Sat|Dinner|   2|
|     12.02|1.97|  Male|    No| Sat|Dinner|   2|
|     17.07| 3.0|Female|    No| Sat|Dinner|   3|
|     26.86|3.14|Female|   Yes| Sat|Dinner|   2|
|     25.28| 5.0|Female|   Yes| Sat|Dinner|   2|
|     14.73| 2.2|Female|    No| Sat|Dinner|   2|
|     10.51|1.25|  Male|    No| Sat|Dinner|   2|
|     17.92|3.08|  Male|   Yes| Sat|Dinner|   2|
|      27.2| 4.0|  Male|    No|Thur| Lunch|   4|
|     22.76| 3.0|  Male|    No|Thur| Lunch|   2|
|     17.29|2.71|  Male|    No|Thur| Lunch|   2|
|     19.44| 3.0|  Male|   Yes|Thur| Lunch|   2|
|     16.66| 3.4|  Male|    No|Thur| Lunch|   2|
|     10.07|1.83|Female|    No|Thur| Lunch|   1|
|     32.68| 5.0|  Male|   Yes|Thur| Lunch|   2|
|     15.98|2.03|  Male|    No|Thur| Lunch|   2|
|     34.83|5.17|Female|    No|Thur| Lunch|   4|
|     13.03| 2.0|  Male|    No|Thur| Lunch|   2|
|     18.28| 4.0|  Male|    No|Thur| Lunch|   2|
|     24.71|5.85|  Male|    No|Thur| Lunch|   2|
|     21.16| 3.0|  Male|    No|Thur| Lunch|   2|
|     28.97| 3.0|  Male|   Yes| Fri|Dinner|   2|
|     22.49| 3.5|  Male|    No| Fri|Dinner|   2|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|
|     22.75|3.25|Female|    No| Fri|Dinner|   2|
|     40.17|4.73|  Male|   Yes| Fri|Dinner|   4|
|     27.28| 4.0|  Male|   Yes| Fri|Dinner|   2|
|     12.03| 1.5|  Male|   Yes| Fri|Dinner|   2|
|     21.01| 3.0|  Male|   Yes| Fri|Dinner|   2|
|     12.46| 1.5|  Male|    No| Fri|Dinner|   2|
|     11.35| 2.5|Female|   Yes| Fri|Dinner|   2|
|     15.38| 3.0|Female|   Yes| Fri|Dinner|   2|
|      44.3| 2.5|Female|   Yes| Sat|Dinner|   3|
|     22.42|3.48|Female|   Yes| Sat|Dinner|   2|
|     20.92|4.08|Female|    No| Sat|Dinner|   2|
|     15.36|1.64|  Male|   Yes| Sat|Dinner|   2|
|     20.49|4.06|  Male|   Yes| Sat|Dinner|   2|
|     25.21|4.29|  Male|   Yes| Sat|Dinner|   2|
|     18.24|3.76|  Male|    No| Sat|Dinner|   2|
|     14.31| 4.0|Female|   Yes| Sat|Dinner|   2|
|      14.0| 3.0|  Male|    No| Sat|Dinner|   2|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|
|     38.07| 4.0|  Male|    No| Sun|Dinner|   3|
|     23.95|2.55|  Male|    No| Sun|Dinner|   2|
|     25.71| 4.0|Female|    No| Sun|Dinner|   3|
|     17.31| 3.5|Female|    No| Sun|Dinner|   2|
|     29.93|5.07|  Male|    No| Sun|Dinner|   4|
|     10.65| 1.5|Female|    No|Thur| Lunch|   2|
|     12.43| 1.8|Female|    No|Thur| Lunch|   2|
|     24.08|2.92|Female|    No|Thur| Lunch|   4|
|     11.69|2.31|  Male|    No|Thur| Lunch|   2|
|     13.42|1.68|Female|    No|Thur| Lunch|   2|
|     14.26| 2.5|  Male|    No|Thur| Lunch|   2|
|     15.95| 2.0|  Male|    No|Thur| Lunch|   2|
|     12.48|2.52|Female|    No|Thur| Lunch|   2|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|
|     14.52| 2.0|Female|    No|Thur| Lunch|   2|
|     11.38| 2.0|Female|    No|Thur| Lunch|   2|
|     22.82|2.18|  Male|    No|Thur| Lunch|   3|
|     19.08| 1.5|  Male|    No|Thur| Lunch|   2|
|     20.27|2.83|Female|    No|Thur| Lunch|   2|
|     11.17| 1.5|Female|    No|Thur| Lunch|   2|
|     12.26| 2.0|Female|    No|Thur| Lunch|   2|
|     18.26|3.25|Female|    No|Thur| Lunch|   2|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|
|     10.33| 2.0|Female|    No|Thur| Lunch|   2|
|     14.15| 2.0|Female|    No|Thur| Lunch|   2|
|      16.0| 2.0|  Male|   Yes|Thur| Lunch|   2|
|     13.16|2.75|Female|    No|Thur| Lunch|   2|
|     17.47| 3.5|Female|    No|Thur| Lunch|   2|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|
|     16.43| 2.3|Female|    No|Thur| Lunch|   2|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|
|     18.64|1.36|Female|    No|Thur| Lunch|   3|
|     11.87|1.63|Female|    No|Thur| Lunch|   2|
|      9.78|1.73|  Male|    No|Thur| Lunch|   2|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2|
|     14.07| 2.5|  Male|    No| Sun|Dinner|   2|
|     13.13| 2.0|  Male|    No| Sun|Dinner|   2|
|     17.26|2.74|  Male|    No| Sun|Dinner|   3|
|     24.55| 2.0|  Male|    No| Sun|Dinner|   4|
|     19.77| 2.0|  Male|    No| Sun|Dinner|   4|
|     29.85|5.14|Female|    No| Sun|Dinner|   5|
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|
|      25.0|3.75|Female|    No| Sun|Dinner|   4|
|     13.39|2.61|Female|    No| Sun|Dinner|   2|
|     16.49| 2.0|  Male|    No| Sun|Dinner|   4|
|      21.5| 3.5|  Male|    No| Sun|Dinner|   4|
|     12.66| 2.5|  Male|    No| Sun|Dinner|   2|
|     16.21| 2.0|Female|    No| Sun|Dinner|   3|
|     13.81| 2.0|  Male|    No| Sun|Dinner|   2|
|     17.51| 3.0|Female|   Yes| Sun|Dinner|   2|
|     24.52|3.48|  Male|    No| Sun|Dinner|   3|
|     20.76|2.24|  Male|    No| Sun|Dinner|   2|
|     31.71| 4.5|  Male|    No| Sun|Dinner|   4|
|     10.59|1.61|Female|   Yes| Sat|Dinner|   2|
|     10.63| 2.0|Female|   Yes| Sat|Dinner|   2|
|     50.81|10.0|  Male|   Yes| Sat|Dinner|   3|
|     15.81|3.16|  Male|   Yes| Sat|Dinner|   2|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|
|     31.85|3.18|  Male|   Yes| Sun|Dinner|   2|
|     16.82| 4.0|  Male|   Yes| Sun|Dinner|   2|
|      32.9|3.11|  Male|   Yes| Sun|Dinner|   2|
|     17.89| 2.0|  Male|   Yes| Sun|Dinner|   2|
|     14.48| 2.0|  Male|   Yes| Sun|Dinner|   2|
|       9.6| 4.0|Female|   Yes| Sun|Dinner|   2|
|     34.63|3.55|  Male|   Yes| Sun|Dinner|   2|
|     34.65|3.68|  Male|   Yes| Sun|Dinner|   4|
|     23.33|5.65|  Male|   Yes| Sun|Dinner|   2|
|     45.35| 3.5|  Male|   Yes| Sun|Dinner|   3|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4|
|     40.55| 3.0|  Male|   Yes| Sun|Dinner|   2|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5|
|      20.9| 3.5|Female|   Yes| Sun|Dinner|   3|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|
|     18.15| 3.5|Female|   Yes| Sun|Dinner|   3|
|      23.1| 4.0|  Male|   Yes| Sun|Dinner|   3|
|     15.69| 1.5|  Male|   Yes| Sun|Dinner|   2|
|     19.81|4.19|Female|   Yes|Thur| Lunch|   2|
|     28.44|2.56|  Male|   Yes|Thur| Lunch|   2|
|     15.48|2.02|  Male|   Yes|Thur| Lunch|   2|
|     16.58| 4.0|  Male|   Yes|Thur| Lunch|   2|
|      7.56|1.44|  Male|    No|Thur| Lunch|   2|
|     10.34| 2.0|  Male|   Yes|Thur| Lunch|   2|
|     43.11| 5.0|Female|   Yes|Thur| Lunch|   4|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2|
|     13.51| 2.0|  Male|   Yes|Thur| Lunch|   2|
|     18.71| 4.0|  Male|   Yes|Thur| Lunch|   3|
|     12.74|2.01|Female|   Yes|Thur| Lunch|   2|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2|
|      16.4| 2.5|Female|   Yes|Thur| Lunch|   2|
|     20.53| 4.0|  Male|   Yes|Thur| Lunch|   4|
|     16.47|3.23|Female|   Yes|Thur| Lunch|   3|
|     26.59|3.41|  Male|   Yes| Sat|Dinner|   3|
|     38.73| 3.0|  Male|   Yes| Sat|Dinner|   4|
|     24.27|2.03|  Male|   Yes| Sat|Dinner|   2|
|     12.76|2.23|Female|   Yes| Sat|Dinner|   2|
|     30.06| 2.0|  Male|   Yes| Sat|Dinner|   3|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4|
|     48.33| 9.0|  Male|    No| Sat|Dinner|   4|
|     13.27| 2.5|Female|   Yes| Sat|Dinner|   2|
|     28.17| 6.5|Female|   Yes| Sat|Dinner|   3|
|      12.9| 1.1|Female|   Yes| Sat|Dinner|   2|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|
|     11.59| 1.5|  Male|   Yes| Sat|Dinner|   2|
|      7.74|1.44|  Male|   Yes| Sat|Dinner|   2|
|     30.14|3.09|Female|   Yes| Sat|Dinner|   4|
|     12.16| 2.2|  Male|   Yes| Fri| Lunch|   2|
|     13.42|3.48|Female|   Yes| Fri| Lunch|   2|
|      8.58|1.92|  Male|   Yes| Fri| Lunch|   1|
|     15.98| 3.0|Female|    No| Fri| Lunch|   3|
|     13.42|1.58|  Male|   Yes| Fri| Lunch|   2|
|     16.27| 2.5|Female|   Yes| Fri| Lunch|   2|
|     10.09| 2.0|Female|   Yes| Fri| Lunch|   2|
|     20.45| 3.0|  Male|    No| Sat|Dinner|   4|
|     13.28|2.72|  Male|    No| Sat|Dinner|   2|
|     22.12|2.88|Female|   Yes| Sat|Dinner|   2|
|     24.01| 2.0|  Male|   Yes| Sat|Dinner|   4|
|     15.69| 3.0|  Male|   Yes| Sat|Dinner|   3|
|     11.61|3.39|  Male|    No| Sat|Dinner|   2|
|     10.77|1.47|  Male|    No| Sat|Dinner|   2|
|     15.53| 3.0|  Male|   Yes| Sat|Dinner|   2|
|     10.07|1.25|  Male|    No| Sat|Dinner|   2|
|      12.6| 1.0|  Male|   Yes| Sat|Dinner|   2|
|     32.83|1.17|  Male|   Yes| Sat|Dinner|   2|
|     35.83|4.67|Female|    No| Sat|Dinner|   3|
|     29.03|5.92|  Male|    No| Sat|Dinner|   3|
|     27.18| 2.0|Female|   Yes| Sat|Dinner|   2|
|     22.67| 2.0|  Male|   Yes| Sat|Dinner|   2|
|     17.82|1.75|  Male|    No| Sat|Dinner|   2|
|     18.78| 3.0|Female|    No|Thur|Dinner|   2|
+----------+----+------+------+----+------+----+

* **To calculate the percentage of smokers we need to filter by column and set count the number of of smokers present in the spark dataframe.**

* **Then we assign the total number of observations to a variable and do some math to find a percentagr. and we can print a prettu statement with the value rounded**

In [25]:
# filter using col and set smoker equal to Yes to retrieve all smokers
smokers_count = tips.filter(col("smoker") == "Yes").count()
# count of all observations
total_observations = tips.count()

# calculate the percentage of smokers in tips df
percentage_smokers = (smokers_count / total_observations) * 100
#printing the perecenatge of individuals that smoke
print(f"The percentage of observations where individuals are smokers is: {percentage_smokers:.0f}%")

The percentage of observations where individuals are smokers is: 38%

$b.$ Create a column that contains the tip percentage

In [26]:
# in pyspark we can use round or format_number to achieve a rounded output
from pyspark.sql.functions import round

tips = tips.withColumn("tip_percentage", round((col("tip") / col("total_bill")) * 100, 0))

tips.show(244)

+----------+----+------+------+----+------+----+--------------+
|total_bill| tip|   sex|smoker| day|  time|size|tip_percentage|
+----------+----+------+------+----+------+----+--------------+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|           6.0|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|          16.0|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|          17.0|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|          14.0|
|     24.59|3.61|Female|    No| Sun|Dinner|   4|          15.0|
|     25.29|4.71|  Male|    No| Sun|Dinner|   4|          19.0|
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|          23.0|
|     26.88|3.12|  Male|    No| Sun|Dinner|   4|          12.0|
|     15.04|1.96|  Male|    No| Sun|Dinner|   2|          13.0|
|     14.78|3.23|  Male|    No| Sun|Dinner|   2|          22.0|
|     10.27|1.71|  Male|    No| Sun|Dinner|   2|          17.0|
|     35.26| 5.0|Female|    No| Sun|Dinner|   4|          14.0|
|     15.42|1.57|  Male|    No| Sun|Dinner|   2|          10.0|
|     18.43| 3.0|  Male|    No| Sun|Dinner|   4|          16.0|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|          20.0|
|     21.58|3.92|  Male|    No| Sun|Dinner|   2|          18.0|
|     10.33|1.67|Female|    No| Sun|Dinner|   3|          16.0|
|     16.29|3.71|  Male|    No| Sun|Dinner|   3|          23.0|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|          21.0|
|     20.65|3.35|  Male|    No| Sat|Dinner|   3|          16.0|
|     17.92|4.08|  Male|    No| Sat|Dinner|   2|          23.0|
|     20.29|2.75|Female|    No| Sat|Dinner|   2|          14.0|
|     15.77|2.23|Female|    No| Sat|Dinner|   2|          14.0|
|     39.42|7.58|  Male|    No| Sat|Dinner|   4|          19.0|
|     19.82|3.18|  Male|    No| Sat|Dinner|   2|          16.0|
|     17.81|2.34|  Male|    No| Sat|Dinner|   4|          13.0|
|     13.37| 2.0|  Male|    No| Sat|Dinner|   2|          15.0|
|     12.69| 2.0|  Male|    No| Sat|Dinner|   2|          16.0|
|      21.7| 4.3|  Male|    No| Sat|Dinner|   2|          20.0|
|     19.65| 3.0|Female|    No| Sat|Dinner|   2|          15.0|
|      9.55|1.45|  Male|    No| Sat|Dinner|   2|          15.0|
|     18.35| 2.5|  Male|    No| Sat|Dinner|   4|          14.0|
|     15.06| 3.0|Female|    No| Sat|Dinner|   2|          20.0|
|     20.69|2.45|Female|    No| Sat|Dinner|   4|          12.0|
|     17.78|3.27|  Male|    No| Sat|Dinner|   2|          18.0|
|     24.06| 3.6|  Male|    No| Sat|Dinner|   3|          15.0|
|     16.31| 2.0|  Male|    No| Sat|Dinner|   3|          12.0|
|     16.93|3.07|Female|    No| Sat|Dinner|   3|          18.0|
|     18.69|2.31|  Male|    No| Sat|Dinner|   3|          12.0|
|     31.27| 5.0|  Male|    No| Sat|Dinner|   3|          16.0|
|     16.04|2.24|  Male|    No| Sat|Dinner|   3|          14.0|
|     17.46|2.54|  Male|    No| Sun|Dinner|   2|          15.0|
|     13.94|3.06|  Male|    No| Sun|Dinner|   2|          22.0|
|      9.68|1.32|  Male|    No| Sun|Dinner|   2|          14.0|
|      30.4| 5.6|  Male|    No| Sun|Dinner|   4|          18.0|
|     18.29| 3.0|  Male|    No| Sun|Dinner|   2|          16.0|
|     22.23| 5.0|  Male|    No| Sun|Dinner|   2|          22.0|
|      32.4| 6.0|  Male|    No| Sun|Dinner|   4|          19.0|
|     28.55|2.05|  Male|    No| Sun|Dinner|   3|           7.0|
|     18.04| 3.0|  Male|    No| Sun|Dinner|   2|          17.0|
|     12.54| 2.5|  Male|    No| Sun|Dinner|   2|          20.0|
|     10.29| 2.6|Female|    No| Sun|Dinner|   2|          25.0|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|          15.0|
|      9.94|1.56|  Male|    No| Sun|Dinner|   2|          16.0|
|     25.56|4.34|  Male|    No| Sun|Dinner|   4|          17.0|
|     19.49|3.51|  Male|    No| Sun|Dinner|   2|          18.0|
|     38.01| 3.0|  Male|   Yes| Sat|Dinner|   4|           8.0|
|     26.41| 1.5|Female|    No| Sat|Dinner|   2|           6.0|
|     11.24|1.76|  Male|   Yes| Sat|Dinner|   2|          16.0|
|     48.27|6.73|  Male|    No| Sat|Dinner|   4|          14.0|
|     20.29|3.21|  Male|   Yes| Sat|Dinner|   2|          16.0|
|     13.81| 2.0|  Male|   Yes| Sat|Dinner|   2|          14.0|
|     11.02|1.98|  Male|   Yes| Sat|Dinner|   2|          18.0|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|          21.0|
|     17.59|2.64|  Male|    No| Sat|Dinner|   3|          15.0|
|     20.08|3.15|  Male|    No| Sat|Dinner|   3|          16.0|
|     16.45|2.47|Female|    No| Sat|Dinner|   2|          15.0|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|          33.0|
|     20.23|2.01|  Male|    No| Sat|Dinner|   2|          10.0|
|     15.01|2.09|  Male|   Yes| Sat|Dinner|   2|          14.0|
|     12.02|1.97|  Male|    No| Sat|Dinner|   2|          16.0|
|     17.07| 3.0|Female|    No| Sat|Dinner|   3|          18.0|
|     26.86|3.14|Female|   Yes| Sat|Dinner|   2|          12.0|
|     25.28| 5.0|Female|   Yes| Sat|Dinner|   2|          20.0|
|     14.73| 2.2|Female|    No| Sat|Dinner|   2|          15.0|
|     10.51|1.25|  Male|    No| Sat|Dinner|   2|          12.0|
|     17.92|3.08|  Male|   Yes| Sat|Dinner|   2|          17.0|
|      27.2| 4.0|  Male|    No|Thur| Lunch|   4|          15.0|
|     22.76| 3.0|  Male|    No|Thur| Lunch|   2|          13.0|
|     17.29|2.71|  Male|    No|Thur| Lunch|   2|          16.0|
|     19.44| 3.0|  Male|   Yes|Thur| Lunch|   2|          15.0|
|     16.66| 3.4|  Male|    No|Thur| Lunch|   2|          20.0|
|     10.07|1.83|Female|    No|Thur| Lunch|   1|          18.0|
|     32.68| 5.0|  Male|   Yes|Thur| Lunch|   2|          15.0|
|     15.98|2.03|  Male|    No|Thur| Lunch|   2|          13.0|
|     34.83|5.17|Female|    No|Thur| Lunch|   4|          15.0|
|     13.03| 2.0|  Male|    No|Thur| Lunch|   2|          15.0|
|     18.28| 4.0|  Male|    No|Thur| Lunch|   2|          22.0|
|     24.71|5.85|  Male|    No|Thur| Lunch|   2|          24.0|
|     21.16| 3.0|  Male|    No|Thur| Lunch|   2|          14.0|
|     28.97| 3.0|  Male|   Yes| Fri|Dinner|   2|          10.0|
|     22.49| 3.5|  Male|    No| Fri|Dinner|   2|          16.0|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|          17.0|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|          26.0|
|     22.75|3.25|Female|    No| Fri|Dinner|   2|          14.0|
|     40.17|4.73|  Male|   Yes| Fri|Dinner|   4|          12.0|
|     27.28| 4.0|  Male|   Yes| Fri|Dinner|   2|          15.0|
|     12.03| 1.5|  Male|   Yes| Fri|Dinner|   2|          12.0|
|     21.01| 3.0|  Male|   Yes| Fri|Dinner|   2|          14.0|
|     12.46| 1.5|  Male|    No| Fri|Dinner|   2|          12.0|
|     11.35| 2.5|Female|   Yes| Fri|Dinner|   2|          22.0|
|     15.38| 3.0|Female|   Yes| Fri|Dinner|   2|          20.0|
|      44.3| 2.5|Female|   Yes| Sat|Dinner|   3|           6.0|
|     22.42|3.48|Female|   Yes| Sat|Dinner|   2|          16.0|
|     20.92|4.08|Female|    No| Sat|Dinner|   2|          20.0|
|     15.36|1.64|  Male|   Yes| Sat|Dinner|   2|          11.0|
|     20.49|4.06|  Male|   Yes| Sat|Dinner|   2|          20.0|
|     25.21|4.29|  Male|   Yes| Sat|Dinner|   2|          17.0|
|     18.24|3.76|  Male|    No| Sat|Dinner|   2|          21.0|
|     14.31| 4.0|Female|   Yes| Sat|Dinner|   2|          28.0|
|      14.0| 3.0|  Male|    No| Sat|Dinner|   2|          21.0|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|          14.0|
|     38.07| 4.0|  Male|    No| Sun|Dinner|   3|          11.0|
|     23.95|2.55|  Male|    No| Sun|Dinner|   2|          11.0|
|     25.71| 4.0|Female|    No| Sun|Dinner|   3|          16.0|
|     17.31| 3.5|Female|    No| Sun|Dinner|   2|          20.0|
|     29.93|5.07|  Male|    No| Sun|Dinner|   4|          17.0|
|     10.65| 1.5|Female|    No|Thur| Lunch|   2|          14.0|
|     12.43| 1.8|Female|    No|Thur| Lunch|   2|          14.0|
|     24.08|2.92|Female|    No|Thur| Lunch|   4|          12.0|
|     11.69|2.31|  Male|    No|Thur| Lunch|   2|          20.0|
|     13.42|1.68|Female|    No|Thur| Lunch|   2|          13.0|
|     14.26| 2.5|  Male|    No|Thur| Lunch|   2|          18.0|
|     15.95| 2.0|  Male|    No|Thur| Lunch|   2|          13.0|
|     12.48|2.52|Female|    No|Thur| Lunch|   2|          20.0|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|          14.0|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|          17.0|
|     14.52| 2.0|Female|    No|Thur| Lunch|   2|          14.0|
|     11.38| 2.0|Female|    No|Thur| Lunch|   2|          18.0|
|     22.82|2.18|  Male|    No|Thur| Lunch|   3|          10.0|
|     19.08| 1.5|  Male|    No|Thur| Lunch|   2|           8.0|
|     20.27|2.83|Female|    No|Thur| Lunch|   2|          14.0|
|     11.17| 1.5|Female|    No|Thur| Lunch|   2|          13.0|
|     12.26| 2.0|Female|    No|Thur| Lunch|   2|          16.0|
|     18.26|3.25|Female|    No|Thur| Lunch|   2|          18.0|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|          15.0|
|     10.33| 2.0|Female|    No|Thur| Lunch|   2|          19.0|
|     14.15| 2.0|Female|    No|Thur| Lunch|   2|          14.0|
|      16.0| 2.0|  Male|   Yes|Thur| Lunch|   2|          13.0|
|     13.16|2.75|Female|    No|Thur| Lunch|   2|          21.0|
|     17.47| 3.5|Female|    No|Thur| Lunch|   2|          20.0|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|          20.0|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|          12.0|
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|          18.0|
|     16.43| 2.3|Female|    No|Thur| Lunch|   2|          14.0|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|          18.0|
|     18.64|1.36|Female|    No|Thur| Lunch|   3|           7.0|
|     11.87|1.63|Female|    No|Thur| Lunch|   2|          14.0|
|      9.78|1.73|  Male|    No|Thur| Lunch|   2|          18.0|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2|          27.0|
|     14.07| 2.5|  Male|    No| Sun|Dinner|   2|          18.0|
|     13.13| 2.0|  Male|    No| Sun|Dinner|   2|          15.0|
|     17.26|2.74|  Male|    No| Sun|Dinner|   3|          16.0|
|     24.55| 2.0|  Male|    No| Sun|Dinner|   4|           8.0|
|     19.77| 2.0|  Male|    No| Sun|Dinner|   4|          10.0|
|     29.85|5.14|Female|    No| Sun|Dinner|   5|          17.0|
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|          10.0|
|      25.0|3.75|Female|    No| Sun|Dinner|   4|          15.0|
|     13.39|2.61|Female|    No| Sun|Dinner|   2|          19.0|
|     16.49| 2.0|  Male|    No| Sun|Dinner|   4|          12.0|
|      21.5| 3.5|  Male|    No| Sun|Dinner|   4|          16.0|
|     12.66| 2.5|  Male|    No| Sun|Dinner|   2|          20.0|
|     16.21| 2.0|Female|    No| Sun|Dinner|   3|          12.0|
|     13.81| 2.0|  Male|    No| Sun|Dinner|   2|          14.0|
|     17.51| 3.0|Female|   Yes| Sun|Dinner|   2|          17.0|
|     24.52|3.48|  Male|    No| Sun|Dinner|   3|          14.0|
|     20.76|2.24|  Male|    No| Sun|Dinner|   2|          11.0|
|     31.71| 4.5|  Male|    No| Sun|Dinner|   4|          14.0|
|     10.59|1.61|Female|   Yes| Sat|Dinner|   2|          15.0|
|     10.63| 2.0|Female|   Yes| Sat|Dinner|   2|          19.0|
|     50.81|10.0|  Male|   Yes| Sat|Dinner|   3|          20.0|
|     15.81|3.16|  Male|   Yes| Sat|Dinner|   2|          20.0|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|          71.0|
|     31.85|3.18|  Male|   Yes| Sun|Dinner|   2|          10.0|
|     16.82| 4.0|  Male|   Yes| Sun|Dinner|   2|          24.0|
|      32.9|3.11|  Male|   Yes| Sun|Dinner|   2|           9.0|
|     17.89| 2.0|  Male|   Yes| Sun|Dinner|   2|          11.0|
|     14.48| 2.0|  Male|   Yes| Sun|Dinner|   2|          14.0|
|       9.6| 4.0|Female|   Yes| Sun|Dinner|   2|          42.0|
|     34.63|3.55|  Male|   Yes| Sun|Dinner|   2|          10.0|
|     34.65|3.68|  Male|   Yes| Sun|Dinner|   4|          11.0|
|     23.33|5.65|  Male|   Yes| Sun|Dinner|   2|          24.0|
|     45.35| 3.5|  Male|   Yes| Sun|Dinner|   3|           8.0|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4|          28.0|
|     40.55| 3.0|  Male|   Yes| Sun|Dinner|   2|           7.0|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5|          24.0|
|      20.9| 3.5|Female|   Yes| Sun|Dinner|   3|          17.0|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|           7.0|
|     18.15| 3.5|Female|   Yes| Sun|Dinner|   3|          19.0|
|      23.1| 4.0|  Male|   Yes| Sun|Dinner|   3|          17.0|
|     15.69| 1.5|  Male|   Yes| Sun|Dinner|   2|          10.0|
|     19.81|4.19|Female|   Yes|Thur| Lunch|   2|          21.0|
|     28.44|2.56|  Male|   Yes|Thur| Lunch|   2|           9.0|
|     15.48|2.02|  Male|   Yes|Thur| Lunch|   2|          13.0|
|     16.58| 4.0|  Male|   Yes|Thur| Lunch|   2|          24.0|
|      7.56|1.44|  Male|    No|Thur| Lunch|   2|          19.0|
|     10.34| 2.0|  Male|   Yes|Thur| Lunch|   2|          19.0|
|     43.11| 5.0|Female|   Yes|Thur| Lunch|   4|          12.0|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2|          15.0|
|     13.51| 2.0|  Male|   Yes|Thur| Lunch|   2|          15.0|
|     18.71| 4.0|  Male|   Yes|Thur| Lunch|   3|          21.0|
|     12.74|2.01|Female|   Yes|Thur| Lunch|   2|          16.0|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2|          15.0|
|      16.4| 2.5|Female|   Yes|Thur| Lunch|   2|          15.0|
|     20.53| 4.0|  Male|   Yes|Thur| Lunch|   4|          19.0|
|     16.47|3.23|Female|   Yes|Thur| Lunch|   3|          20.0|
|     26.59|3.41|  Male|   Yes| Sat|Dinner|   3|          13.0|
|     38.73| 3.0|  Male|   Yes| Sat|Dinner|   4|           8.0|
|     24.27|2.03|  Male|   Yes| Sat|Dinner|   2|           8.0|
|     12.76|2.23|Female|   Yes| Sat|Dinner|   2|          17.0|
|     30.06| 2.0|  Male|   Yes| Sat|Dinner|   3|           7.0|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4|          20.0|
|     48.33| 9.0|  Male|    No| Sat|Dinner|   4|          19.0|
|     13.27| 2.5|Female|   Yes| Sat|Dinner|   2|          19.0|
|     28.17| 6.5|Female|   Yes| Sat|Dinner|   3|          23.0|
|      12.9| 1.1|Female|   Yes| Sat|Dinner|   2|           9.0|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|          11.0|
|     11.59| 1.5|  Male|   Yes| Sat|Dinner|   2|          13.0|
|      7.74|1.44|  Male|   Yes| Sat|Dinner|   2|          19.0|
|     30.14|3.09|Female|   Yes| Sat|Dinner|   4|          10.0|
|     12.16| 2.2|  Male|   Yes| Fri| Lunch|   2|          18.0|
|     13.42|3.48|Female|   Yes| Fri| Lunch|   2|          26.0|
|      8.58|1.92|  Male|   Yes| Fri| Lunch|   1|          22.0|
|     15.98| 3.0|Female|    No| Fri| Lunch|   3|          19.0|
|     13.42|1.58|  Male|   Yes| Fri| Lunch|   2|          12.0|
|     16.27| 2.5|Female|   Yes| Fri| Lunch|   2|          15.0|
|     10.09| 2.0|Female|   Yes| Fri| Lunch|   2|          20.0|
|     20.45| 3.0|  Male|    No| Sat|Dinner|   4|          15.0|
|     13.28|2.72|  Male|    No| Sat|Dinner|   2|          20.0|
|     22.12|2.88|Female|   Yes| Sat|Dinner|   2|          13.0|
|     24.01| 2.0|  Male|   Yes| Sat|Dinner|   4|           8.0|
|     15.69| 3.0|  Male|   Yes| Sat|Dinner|   3|          19.0|
|     11.61|3.39|  Male|    No| Sat|Dinner|   2|          29.0|
|     10.77|1.47|  Male|    No| Sat|Dinner|   2|          14.0|
|     15.53| 3.0|  Male|   Yes| Sat|Dinner|   2|          19.0|
|     10.07|1.25|  Male|    No| Sat|Dinner|   2|          12.0|
|      12.6| 1.0|  Male|   Yes| Sat|Dinner|   2|           8.0|
|     32.83|1.17|  Male|   Yes| Sat|Dinner|   2|           4.0|
|     35.83|4.67|Female|    No| Sat|Dinner|   3|          13.0|
|     29.03|5.92|  Male|    No| Sat|Dinner|   3|          20.0|
|     27.18| 2.0|Female|   Yes| Sat|Dinner|   2|           7.0|
|     22.67| 2.0|  Male|   Yes| Sat|Dinner|   2|           9.0|
|     17.82|1.75|  Male|    No| Sat|Dinner|   2|          10.0|
|     18.78| 3.0|Female|    No|Thur|Dinner|   2|          16.0|
+----------+----+------+------+----+------+----+--------------+

$c.$ Calculate the average tip percentage for each combination of sex and smoker.

In [27]:
# assigning a variable with a groupby of valyes and aggregattion of the avg tip percentage.
tips_avg_tip_percentage = (
    tips.groupBy("sex", "smoker")
    .agg(
        round(avg(col("tip_percentage")), 2).alias("avg_tip_percentage")
    )
)

In [28]:
tips_avg_tip_percentage.show()

+------+------+------------------+
|   sex|smoker|avg_tip_percentage|
+------+------+------------------+
|  Male|    No|              16.1|
|Female|    No|             15.69|
|  Male|   Yes|             15.28|
|Female|   Yes|             18.24|
+------+------+------------------+

## 4. **Use the seattle weather dataset referenced in the lesson to answer the questions below.**

In [29]:
# need vega_datasets imoprt here
from vega_datasets import data

weather = data.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(6)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 6 rows

* Convert the temperatures to fahrenheit.

In [30]:
weather.describe().show()

+-------+----------+-----------------+------------------+-----------------+------------------+-------+
|summary|      date|    precipitation|          temp_max|         temp_min|              wind|weather|
+-------+----------+-----------------+------------------+-----------------+------------------+-------+
|  count|      1461|             1461|              1461|             1461|              1461|   1461|
|   mean|      NULL| 3.02943189596167|16.439082819986314|8.234770704996578|3.2411362080766604|   NULL|
| stddev|      NULL|6.680194322314738| 7.349758097360176|5.023004179961266|1.4378250588746198|   NULL|
|    min|2012-01-01|              0.0|              -1.6|             -7.1|               0.4|drizzle|
|    max|2015-12-31|             55.9|              35.6|             18.3|               9.5|    sun|
+-------+----------+-----------------+------------------+-----------------+------------------+-------+

In [31]:
weather

DataFrame[date: string, precipitation: double, temp_max: double, temp_min: double, wind: double, weather: string]

* Which month has the most rain, on average?

* Which year was the windiest?

* What is the most frequent type of weather in January?

* What is the average high and low temperature on sunny days in July in 2013 and 2014?

  
* What percentage of days were rainy in q3 of 2015?

* For each year, find what percentage of days it rained (had non-zero precipitation).